.h5-wb-unit9-p1-q1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 6px 6px;
    border: 2px solid black;
    border-radius: 9px;
    /* background-color: #eef6ff; */
    font-size: 20px;
    font-weight: 600;
    color: #333;
    position: relative;
    width: fit-content;
    margin-bottom: 25px;
}

.end-dot22-wb-unit9-p1-q1{
    transform: translateX(-50%);
    position: absolute !important;
    top: -30px;
    left: 50%;
}