.headset-icon-CD-unit4-page4-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6.5%;
  left: 39%;
}

.pauseBtn-icon-CD-unit4-page4-1 {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  position: absolute;
  padding: 5px;
  top: 6.5%;
  left: 44%;
}
