.h5-wb-unit3-p1-q1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 6px 14px;
  height: 50px;
  width: 70px;
  border: 2px solid #000000;
  border-radius: 9px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  color: #333;
  position: relative;
  /* width: fit-content; */
  margin-bottom: 25px;
}

.square-container-wb-unit3-p1-q1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.polygon-container-wb-unit3-p1-q1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.color-circle.erase {
  background: #eee;
  border: 2px dashed #999;
  color: #333;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.match-images-row2-wb-unit3-p1-q1 {
  display: flex;
  justify-content: space-around;
  gap: 50px;
  margin-bottom: 25px;
}

.img-box2-wb-unit3-p1-q1 {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.start-dot22-wb-unit3-p1-q1 {
  /* position: absolute !important; */
  /* top: 135px; */
  /* left: 55%; */
  transform: translateX(-50%);
}

.unscramble-input-wb-unit3-p1-q1 {
    width: 90%;
  border-bottom: 2px solid #000000;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
}
